*{
    margin: 0;
    padding: 0;
    background-color:rgb(21, 99, 22);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    header{
    background-color:rgb(38, 160, 91);
    height: 100vh;
    }
    .main{
    text-align: center;
    padding-top: 40px;
    }
    .main h1{
    font-size: 50px;
    }
    .pic{
    margin: 70px;
    }
    img{
    height: 50vh;
    }
    .pic{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
    }
    h3{
    padding-top: 20px;
    }
    @media only screen and (max-width: 600px) {
    .pic{
    width: 219px;
    }
    }